@font-face {
    font-family: Cera-regular;
    src: url(../fonts/CeraPro-Regular.ttf);
    font-style: normal;
}

@font-face {
    font-family: Cera-medium;
    src: url(../fonts/CeraPro-Medium.ttf);
    font-style: normal;
}

@font-face {
    font-family: Cera-bold;
    src: url(../fonts/CeraPro-Bold.ttf);
    font-style: normal;
}

#monitor:after {
    content: "";
    display: none;
}

#animals:after {
    content: "";
    margin-top: 5px;
    padding: 0px;
    height: 2px;
    display: block;
    background-color: white;
}

.widget-logo {
    background-image: url(../svg/logo-white.svg);
    width: 200px;
    height: 75px;
    z-index: 200;
    position: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    top: 5px;
    left: 15px;
}

.page {
    display: flex;
    padding: 50px 0 0;
    height: 100%;
    overflow-wrap: inherit;
}

.animals-memu {
    width: 300px;
    background-color: #006aa9;
    height: 100%;
    position: fixed;

}

#animals-menu-list {
    list-style: none;
    padding: 5px 0 0;
    margin: 0px;
}

#animals-menu-list div {
    list-style: none;
    margin: 0px;
    text-decoration: none;
    display: flex;
    color: #fff;
    font-size: 16px;
    height: 50px;
    background-color: #006aa9;
    justify-content: start;
    position: relative;
    padding: 0 15px 0;
    font-family: Cera-regular;
    align-items: center;
}

.img-margin {
    margin-right: 10px;
}

#animals-menu-list ul {
    list-style: none;
    font-size: 14px;
    color: #fff;
    display: none;
    font-family: Cera-regular;
}

.add-animal {
    background-image: url(../svg/Add_animal.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px;
    width: 80px;
    height: 55px;
    padding: 0;
}

.group-container {
    width: calc(100% - 50px);
    height: fit-content;
    display: none;
    padding-bottom: 10px;
}

.cow-list-item .count {
    font-size: 16px;
}

.cow-list-item .cow-type {
    font-size: 12px;
}

#animals-menu-list ul li {
    display: flex;
    align-items: center;
    padding-left: 25%;
    height: 40px;
}

.button {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: auto;
    background-image: url(../svg/arrow-white.svg);
    background-position: center;
    background-color: #006aa9;
    background-size: 20px;
    z-index: 2222;
    outline: none;
    border: none;
    transition: all 0.5s ease-out;
}

.cow-list-item {
    width: 72px;
    height: 72px;
    background-color: #fff;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 5px;
}

.yeld-statistics {
    height: 15px;
    display: flex;
    gap: 5px
}

.yeld-statistics span {
    font-size: 10px;
    text-align: center;
}

.cow-indicators {
    height: 15px;
    display: flex;
    justify-content: center;
    margin-top: 2px;
}

.have-problem {
    opacity: 1;
}

.no-problem {
    opacity: 0;
}

.cow-card-icon {
    width: 16px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
}

.bull-icon {
    background-image: url(../svg/bull-blue.svg);
}

.cow-exit-icon {
    background-image: url(../svg/cow-exit.svg);
}

.yeld-icon {
    background-image: url(../svg/yeld-blue.svg);
}

.health-icon {
    background-image: url(../svg/health-blue.svg);
}

.grass-icon {
    background-image: url(../svg/grass-blue.svg);
}

.add-cow-list-item {
    padding: 0;
    border: none;
    position: relative;
}

.cow-list {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 10px;
}

.field-button, .all-field-button {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 7px;
    top: 25%;
    background-image: url(../svg/arrow-blue.svg);
    background-color: white;
    background-position: center;
    z-index: 1;
    outline: none;
    border: none;
    transition: all 0.5s ease-out;
}

.button-active {
    transform: rotate(180deg);
    transition: all 0.5s ease-out;
}

#review .title {
    background-image: url(../svg/cow-id.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.aminals-main-field {
    width: 100%;
    padding-top: 10px;
    padding-left: 300px;
}


.animals-review, .animals-review-add {
    width: calc(100% - 100px);
    margin: 0 50px;
    border-bottom: #006aa9 2px solid;
}

.animals-review-item:nth-child(2) {
    padding-top: 50px;
}

.animals-review-item:not(:first-child) {
    width: calc(100% - 100px);
    margin: 0 50px;
    border-bottom: #006aa9 2px solid;
}

.food-settings-configs {
    display: flex;
    gap: 40px;
    margin-top: 20px;
    
}

.settings-configs-item {
    width: 200px;
    height: 35px;
    background-color: #fff;
    border: 1px solid rgba(128, 128, 128, 0.2);
    color: #006AA9;
    justify-content: center;
    display: flex;
    align-items: center;
}

.animals-food {
    width: calc(100% - 100px);
    margin: 0 50px;
}






.animals-review span, .animals-food span {
    font-size: 24px;
    font-family: Cera-regular;
    font-weight: 500;
}

.animals-review-item span {
    
    font-family: Cera-regular;
    font-weight: 700;
}


#review-title {
    position: fixed;
    left: 300px;
    background-color: white;
    width: calc(100% - 400px);
    z-index: 200;
    
}

#review-page {
    background-color: #fff;
}
.animals-review-title, .animals-food-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
   
    height: 50px;
}

.animals-food-title {
    border-bottom: #006aa9 2px solid;
} 
/* .animals-review:after, .animals-review-item::after, .animals-review-add::after {
    content: "";
    margin-top: 5px;
    padding: 0px;
    height: 2px;
    display: block;
    background-color: #006aa9;
} */

.add-cow-button, .edit-group, .save-food-setting {
    background-size: 40px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    border: none;
    background-position: center;
    background-color: #fff;
    margin-right: 50px;
    cursor: pointer;
}

.add-cow-button {
    background-image: url(/src/svg/Add_animal.svg);
}

.save-food-setting {
    background-image: url(../svg/save.svg);
    background-size: 25px;
    margin-right: 10px;
}

.edit-group{
    background-image: url(/src/svg/edit.svg);
    background-size: 25px;
    padding-right: 5px;
}

.min-one-day {
    background-image: url(/src/svg/MinPr.svg)
}

.max-one-day {
    background-image: url(/src/svg/MaxPr.svg)
}

.time-to-eat {
    background-image: url(/src/svg/TimeToEat.svg)
}

.add-group-button {
    width: 25px;
    height: 25px;
    background-image: url(../svg/plus.svg);
    background-position: center;
    background-color: #fff;
    background-size: 40px;
    z-index: 2222;
    outline: none;
    border: none;
}

.animals-review-main-info {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
}

.animals-review-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 35%;
}

.animals-review-main span {
    width: 60px;
}

.animals-review-add span {
    margin-left: 15px;
    font-family: Cera-regular;
    font-size: 14px;
}

.active-animal-item {
    font-weight: 700;
}

.animal-container {
    display: none;
}

.animals-page-active {
    display: block;
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.food-setting span {
    font-size: 16px
}

.food-settig-icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 45px;
    width: 80px;
    height: 80px;
    padding: 0;
   
}

.single-give {
    background-image: url(../svg/max-single.svg);
}

.single-give-24 {
    background-image: url(../svg/max-single-24.svg);
}

.max-green {
    background-image: url(../svg/max-green.svg);
}

.max-red {
    background-image: url(../svg/max-red.svg);
}

.single-24 {
    background-image: url(../svg/single-24.svg);
}

.time-add {
    background-image: url(../svg/timeAdd.svg);
}

.food-setting-item {
    display: flex;
    align-items: center;
}

.food-setting {
    padding-top: 20px;
}


.food-setting-container {
    display: flex;
    gap: 150px;
}

.quantity-number input {
    width: 39px;
    height: 33px;
    border-radius: 0; 
    text-align:center;
    border: 1px solid #DBE2EA;
}

.minus-button {border: solid #DBE2EA;
    border: solid #DBE2EA;
    border-width: 1px 0px 1px 1px;
}

.minus-button:hover {border: solid #DBE2EA;
    border: solid #006AA9;
    border-width: 1px 1px 1px 1px;
}

.plus-button {
    border: solid #DBE2EA;
    border-width: 1px 1px 1px 0px;
}

.plus-button:hover {border: solid #DBE2EA;
    border: solid #006AA9;
    border-width: 1px 1px 1px 1px;
}

.quantity-number button:active {
    background-color: #0B9DDD;
    border: none;
    color: white;
}

.quantity-number button {
    background-color: #fff;
    font-size: 25px; 
    width: 38px;
    color: #006AA9;
  }

.quantity-number {
    margin: 0 10px 0 25px;
    max-height: 33px;
    display: flex;
}




.range_container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 50px auto;
  }
  
  .sliders_control {
    position: relative;
    min-height: 27px;
  }
  
  .form_control {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #635a5a;
  }
  
  input[type=range] {
    height: 30px;
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: #fff;
    cursor: pointer;
  }
  
  input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: #fff;
    cursor: pointer;  
  }
  
  /* input[type=range]::-webkit-slider-thumb:hover {
    background: #f7f7f7;
  } */
  
  /* input[type=range]::-webkit-slider-thumb:active {
    box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
    -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
  } */
  
 
  input[type="range"] {
    -webkit-appearance: none; 
    appearance: none;
    height: 25px;
    width: 100%;
    position: absolute;
    background-color: #0B9DDD;
    pointer-events: none;
  }
  
  #fromSlider {
    height: 0;
    z-index: 1;
  }
  
  .sort-page-item {
    margin-top: 30px;
  }

  .sort-page-item-config {
    width: calc(100% - 100px);
    margin: 0 50px;
  }




  .sort-page-item-config select {
    margin-left: 50px;
    width: 200px;
    height: 32px;
    border: 2px solid #AAAAAA;
  }

  .sort-page-item-config select:focus {
    outline: none;
  }

  .sort-config-item {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: start;
    gap: 10px;
    margin-bottom: 16px;
  }

  input[type=checkbox] {
    width: 20px;
    height: 20px;
  }
  


  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #006AA9;
    height: 50px;
    width: 2px;
  }
  
  input[type=range]:first-child::-webkit-slider-thumb {
    margin-top: 25px;
  }
  
  input[type=number] {
      -moz-appearance:textfield; /* Firefox */
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .form_control_container.quantity-number {
    margin: 0;
  }
  .sort-config-item input[type=number] {
    margin: 0;
  }