@font-face {
    font-family: Cera-regular;
    src: url(../fonts/CeraPro-Regular.ttf);
    font-style: normal;
}

@font-face {
    font-family: Cera-medium;
    src: url(../fonts/CeraPro-Medium.ttf);
    font-style: normal;
}

@font-face {
    font-family: Cera-bold;
    src: url(../fonts/CeraPro-Bold.ttf);
    font-style: normal;
}

#monitor:after {
    content: "";
    display: none;
}

#animals:after {
    content: "";
    margin-top: 5px;
    padding: 0px;
    height: 2px;
    display: block;
    background-color: white;
}

.widget-logo {
    background-image: url(../svg/logo-white.svg);
    width: 200px;
    height: 75px;
    z-index: 200;
    position: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    top: 5px;
    left: 15px;
}

.page {
    display: flex;
    padding: 50px 0 0;
}

.animals-memu {
    width: 300px;
    background-color: #006aa9;
}

#animals-menu-list {
    list-style: none;
    padding: 5px 0 0;
    margin: 0px;
}

#animals-menu-list div {
    list-style: none;
    margin: 0px;
    text-decoration: none;
    display: flex;
    color: #fff;
    font-size: 16px;
    height: 50px;
    background-color: #006aa9;
    justify-content: start;
    position: relative;
    padding: 0 15px 0;
    font-family: Cera-regular;
    align-items: center;
}

.img-margin {
    margin-right: 10px;
}

#animals-menu-list ul {
    list-style: none;
    font-size: 14px;
    color: #fff;
    display: none;
    font-family: Cera-regular;
}

.add-animal {
    background-image: url(../svg/Add_animal.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px;
    width: 80px;
    height: 55px;
    padding: 0;
}

.group-container {
    width: calc(100% - 50px);
    height: fit-content;
    display: none;
    padding-bottom: 10px;
}

.cow-list-item .count {
    font-size: 18px;
}

.cow-list-item .cow-type {
    font-size: 12px;
}

#animals-menu-list ul li {
    display: flex;
    align-items: center;
    padding-left: 25%;
    height: 40px;
}

.button {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: auto;
    background-image: url(../svg/arrow-white.svg);
    background-position: center;
    background-color: #006aa9;
    background-size: 20px;
    z-index: 2222;
    outline: none;
    border: none;
    transition: all 0.5s ease-out;
}

.cow-list-item, .add-cow-list-item {
    width: 80px;
    height: 50px;
    background-color: #fff;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 5px;
}

.add-cow-list-item {
    padding: 0;
    border: none;
    position: relative;
}

.cow-list {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 10px;
}

.field-button, .all-field-button {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 7px;
    top: 25%;
    background-image: url(../svg/arrow-blue.svg);
    background-color: white;
    background-position: center;
    z-index: 1;
    outline: none;
    border: none;
    transition: all 0.5s ease-out;
}

.button-active {
    transform: rotate(180deg);
    transition: all 0.5s ease-out;
}

#review .title {
    background-image: url(../svg/cow-id.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.aminals-main-field {
    width: calc(100% - 300px);
    padding-top: 10px;
}

.animals-review, .animals-review-item, .animals-review-add {
    width: calc(100% - 100px);
    margin: 0 50px;
    border-bottom: #006aa9 2px solid;
}

.food-settings-configs {
    display: flex;
    gap: 40px;
    margin-top: 20px;
    
}

.settings-configs-item {
    width: 200px;
    height: 35px;
    background-color: #fff;
    border: 1px solid rgba(128, 128, 128, 0.2);
    color: #006AA9;
    justify-content: center;
    display: flex;
    align-items: center;
}

.animals-food {
    width: calc(100% - 100px);
    margin: 0 50px;
}






.animals-review span, .animals-food span {
    font-size: 24px;
    font-family: Cera-regular;
    font-weight: 500;
}

.animals-review-item span {
    font-size: 16px;
    font-family: Cera-regular;
    font-weight: 700;
}

.animals-review-title, .animals-food-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
   
    height: 50px;
}

.animals-food-title {
    border-bottom: #006aa9 2px solid;
} 
/* .animals-review:after, .animals-review-item::after, .animals-review-add::after {
    content: "";
    margin-top: 5px;
    padding: 0px;
    height: 2px;
    display: block;
    background-color: #006aa9;
} */

.add-cow-button, .edit-group, .save-food-setting {
    background-size: 40px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    border: none;
    background-position: center;
    background-color: #fff;
    margin-right: 50px;
    cursor: pointer;
}

.add-cow-button {
    background-image: url(/src/svg/Add_animal.svg);
}

.save-food-setting {
    background-image: url(../svg/save.svg);
    background-size: 25px;
    margin-right: 10px;
}

.edit-group{
    background-image: url(/src/svg/edit.svg);
    background-size: 25px;
    padding-right: 5px;
}

.min-one-day {
    background-image: url(/src/svg/MinPr.svg)
}

.max-one-day {
    background-image: url(/src/svg/MaxPr.svg)
}

.time-to-eat {
    background-image: url(/src/svg/TimeToEat.svg)
}

.add-group-button {
    width: 25px;
    height: 25px;
    background-image: url(../svg/plus.svg);
    background-position: center;
    background-color: #fff;
    background-size: 40px;
    z-index: 2222;
    outline: none;
    border: none;
}

.animals-review-main-info {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
}

.animals-review-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 35%;
}

.animals-review-main span {
    width: 60px;
}

.animals-review-add span {
    margin-left: 15px;
    font-family: Cera-regular;
    font-size: 14px;
}

.active-animal-item {
    font-weight: 700;
}

.animal-container {
    display: none;
}

.animals-page-active {
    display: block;
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.food-setting span {
    font-size: 16px
}

.food-settig-icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 45px;
    width: 80px;
    height: 80px;
    padding: 0;
   
}

.single-give {
    background-image: url(../svg/max-single.svg);
}

.single-give-24 {
    background-image: url(../svg/max-single-24.svg);
}

.max-green {
    background-image: url(../svg/max-green.svg);
}

.max-red {
    background-image: url(../svg/max-red.svg);
}

.single-24 {
    background-image: url(../svg/single-24.svg);
}

.time-add {
    background-image: url(../svg/timeAdd.svg);
}

.food-setting-item {
    display: flex;
    align-items: center;
}

.food-setting {
    padding-top: 20px;
}


.food-setting-container {
    display: flex;
    gap: 150px;
}

.quantity-number input {
    width: 39px;
    height: 33px;
    border-radius: 0; 
    text-align:center;
    border: 1px solid #DBE2EA;
}

.minus-button {border: solid #DBE2EA;
    border: solid #DBE2EA;
    border-width: 1px 0px 1px 1px;
}

.minus-button:hover {border: solid #DBE2EA;
    border: solid #006AA9;
    border-width: 1px 1px 1px 1px;
}

.plus-button {
    border: solid #DBE2EA;
    border-width: 1px 1px 1px 0px;
}

.plus-button:hover {border: solid #DBE2EA;
    border: solid #006AA9;
    border-width: 1px 1px 1px 1px;
}

.quantity-number button:active {
    background-color: #0B9DDD;
    border: none;
}

.quantity-number button {
    background-color: #fff;
    font-size: 22px; 
    width: 38px;
    display: flex;
    font-size: 24px;
    align-items: center;
  }

.quantity-number {
    margin: 0 10px 0 25px;
    max-height: 33px;
}