* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cera-regular;
}

html {
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
}

.header {
    width: 100%;
    height: 50px;
    background-color: #006aa9;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.main-nav-bar {
    display: flex;
    align-items: center;
    height: 50px;
    width: 50%;
    margin-left: calc(50% - 200px);
}

.main-nav-item {
    color: white;
    font-size: 20px;
    font-family: Cera-regular;
    margin-left: 40px;
    height: 20px;
    margin-bottom: 5px;
}

#monitor {
    font-family: Cera-bold;
}


#monitor:after {
    content: "";
    margin-top: 5px;
    padding: 0px;
    height: 2px;
    display: block;
    background-color: white;
}

.side-header-bar {
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.side-header-item {
    width: 40px;
    height: 35px;
    display: block;
    margin-right: 40px;
}

#header-search {
    background-image: url(../svg/search.svg);
    width: 21px;
    height: 21px;
    background-repeat: no-repeat;
}

#burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.burger-line {
    content: "";
    display: block;
    width: 21px;
    height: 2px;
    background-color: white;
}

.burger-line:not(:last-child) {
    margin-bottom: 6px;
}

.page {
    padding: 55px 10px 10px 10px;
    height: 100%;
    width: 100%;
    z-index: 100;
}

.bpx {
    width: 100%;
    height: 40px;
    background-color: #006aa9;
}


.widget-table {
    border: #006aa9 1px solid;
    height: 100%
}

.widget-table-header {
    height: 20%;
    padding: 5px 0 5px 0;
    width: 100%;
    background-color: #006aa9;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.widget-tiles-item {
    height: 100%;
    text-align: left;
}

.tile-state {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 145px;
}

#tiles-1-1 .tile-state {
    background-color: #0B9DDD;
}

#tiles-1-3 .tile-state {
    background-color: #ED1C24;
}

#tiles-1-2 .tile-state {
    background-color: #25BE2C;
}

.widget-tiles-title,
.widget-tiles-changes {
    color: white;
    font-size: 20px;
    font-family: Cera-regular;
}

.widget-tiles-value {
    color: white;
    font-size: 32px;
    font-family: Cera-regular;
}

.widget-tiles-title {
    width: 100%;
    height: 45%;
}

.widget-tiles-changes,
.widget-tiles-value {
    width: 100%;
    height: 25%;
}

.widget-journal {
    border: #006aa9 1px solid;
    height: 100%;
    max-height: 300px;
}

.widget-journal-header {
    height: 58px;
    padding: 5px;
    width: 100%;
    background-color: #006aa9;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.gridster {
    position: relative
}

.gridster>* {
    margin: 0;
    transition: height .4s, width .4s;
    width: 100%;
}

.gridster .gs-w {
    z-index: 0;
    position: absolute
}

li {

    list-style: none;
    cursor: pointer;
}

.gridster-ul {
    margin: 0;
}

#colorWell {
    width: 40px;
    height: 25px;
    border: 0;
    margin-right: 40px;
    border-radius: 5px;
}

#robot-1 {
    background-image: url(../svg/tab-milk-yield-statistics-white.svg);
}

#robot-2 {
    background-image: url(../svg/wash.svg);
}



.widget-table-icon,
.widget-journal-icon {
    width: 50px;
    background-color: white;
    height: 100%;
    border-radius: 50%;
    margin-left: 30px;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.widget-journal-icon {
    margin-left: 0px;
    margin-right: 10px;
    background-image: url(../svg/Group\ 7.svg);
    background-size: cover;
}

.widget-journal-title {
    width: 505px;
    color: white;
    font-size: 24px;
    font-family: Cera-regular;
}

.widget-table-title {
    width: 160px;
    height: fit-content;
    display: flex;
    font-size: 24px;
    font-family: Cera-regular;
    align-items: center;
}

.robot-name {
    width: fit-content;
    height: 100%;
    color: white;
}

.robot-number {
    width: fit-content;
    height: 100%;
    margin-left: 10px;
    color: white;
}

.widget-table-search,
.widget-journal-search {
    width: 30px;
    margin-right: 10px;
    height: 30px;
    background-image: url(../svg/more-info.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.widget-table-body {
    height: 80%;
    width: 100%;
}


.widget-tb-item-list {
    width: 100%;
    height: 100%;

}

.widget-journal-item-list {
    width: 100%;
    height: 100%;
}

.widget-journal-item {
    width: 100%;
    height: 48px;
    padding: 4px 0;
    display: flex;
}

.widget-table-item {
    width: 100%;
    height: 25%;
    padding: 10px 0;
    display: flex;
}



.widget-table-item-icon {
    width: 40px;
    height: 40px;
    margin-left: 35px;
    margin-right: 15px;
    background-position: center;
    background-repeat: no-repeat;
}

.widget-journal-item-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../svg/information-circle.svg);
}

.widget-table-item-title {
    width: 200px;
    height: 100%;
}

.widget-table-item-icon.time {
    background-image: url(../svg/time.svg);
}

.widget-table-item-icon.cow-number {
    background-image: url(../svg/cow-id.svg);
}

.widget-table-item-icon.milk-value {
    background-image: url(../svg/milk-value.svg);
}

.widget-table-item-icon.drain {
    background-image: url(../svg/drain.svg);
}

.widget-table-item-title {
    font-size: 20px;
    font-family: Cera-regular;
    height: 40px;
    padding-top: 7px;
}

.widget-journal-item-title {
    font-size: 20px;
    font-family: Cera-regular;
    height: 39px;
    padding-top: 7px;
    width: 505px;
}

.widget-journal-time {
    font-size: 16px;
    font-family: Cera-regular;
    color: grey;
    padding-top: 10px;
}

.widget-logo {
    background-image: url(../svg/logo-blue.svg);
    width: 200px;
    height: 75px;
    z-index: 200;
    position: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 0;
    left: 35px;
}

.widget-tiles-item {
    background-color: #0B9DDD;
}

.burger-nav {
    position: fixed;

    width: 320px;
    height: 150px;
    background: #006aa9;
    padding: 15px 0;
    top: 50px;
    right: -320px;

    transition: all 0.5s ease-out;
    z-index: 2;
}

.show {
    right: 0px;
  }

.logout, .settings {
    display: flex;
    margin-left: 20px;
    cursor: pointer;
    margin-top: 20px;
}

  .logoutIcon {
    background-image: url(../svg/Icon-white.svg);
    width: 30px;
    height: 30px;
    z-index: 10;
    background-size: cover;
    background-repeat: no-repeat;

  }

  .burgerSettingsIcon {
    background-image: url(../svg/user.svg);
    width: 30px;
    height: 30px;
    z-index: 10;
    background-size: cover;
    background-repeat: no-repeat;

  }

  .logoutTitle {
    font-size: 20px;
    font-family: Cera-regular;
    color: white;
    margin-left: 20px;
  }

  .change .bar1 {
    margin: 0px 10px 0px;
    background: red;
    transition: 0.5s;
  }
  
  .change .bar2 {
    transform: rotate(0deg) translate(0, 1px);
    background: red;
  }
  
  .bar1 {
    width: 45px;
    height: 3px;
    background: #fff;
    margin: 0px 10px 0px;
    -webkit-transform: rotate(0deg) translate(0, 0);
    transform: rotate(0deg) translate(0, 4px);
    background: green;
    transition: 0.5s;
  }
  
  
  
  .bar2 {
    width: 45px;
    height: 3px;
    background: #fff;
    margin: 0px 10px 0px;
    -webkit-transform: rotate(90deg) translate(0, 0);
    transform: rotate(90deg) translate(0, 0);
    background: green;
    transition: 0.5s;
  }

  .add-widget-menu-btn {
    position: fixed;
    bottom: 20px;
    left: 1840px;
    height: 50px;
    padding-top: 20px;
    z-index: 999;
  }

  .sidebar {
    position: fixed;

    width: 100%;
    height: 300px;
    background: #fff;
    bottom: -300px;
    right: 0;
    left: 0;
    border: solid #006aa9 1px;
    transition: all 0.7s ease-out;
    z-index: 998;
}

.show-widget-bar {
    bottom: 0;
  }